<div class="container-fluid bg-primary text-white p-3">
    <div class="row">
      <div class="col-2">
        <h4><i class="fas fa-user-friends fa-1x"></i> Customer Manager</h4>
      </div>
      <div class="col-10">
        <a routerLink="/customer" routerLinkActive="router-link-active" class="btn">Customers</a>
        <a routerLink="/orders" routerLinkActive="router-link-active" class="btn">Orders</a>
        <a routerLink="/about" routerLinkActive="router-link-active" class="btn">About</a>
        <a routerLink="/login" routerLinkActive="router-link-active" class="btn">Login</a>
        <a routerLink="/customer-management" routerLinkActive="router-link-active" class="btn">Customer-Management</a>
      </div>
    </div>
  </div>